body {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: auto;
  max-width: 1400px;
}

.menu__container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(16, 16, 16, 0.72);
  background: #0F2027;
  z-index: 2;
}
.menu__container .menu__logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 30px;
  letter-spacing: 4px;
}
.menu__container .menu__logo h1 {
  color: #005cb2;
  background: linear-gradient(#3a7bd5, #3a6073);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5rem;
}
.menu__container .menu__logo h1:hover {
  background: linear-gradient(#83a4d4 40%, #b6fbff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: all 0.4s ease;
}
.menu__container .menu__items {
  padding: 7px 13px;
  font-size: 1em;
  text-decoration: none;
  color: #fff8dc;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__container .menu__items:hover {
  background: rgba(16, 16, 16, 0.72);
  border: 1px solid #005cb2;
  color: #005cb2;
  transition: all 0.1s ease;
}
.menu__container .menu__items:hover:active {
  border-bottom: 3px solid #004e92;
  color: #004e92;
  transition: all 0.1s ease;
}
.menu__container .menu__bar {
  display: none;
  margin-right: 30px;
  font-size: 1em;
  cursor: pointer;
  color: #005cb2;
}
@media screen and (min-width: 400px) {
  .menu__container .menu__container {
    height: 65px;
  }
  .menu__container h1 {
    font-size: 6px;
  }
}

.menu__items .show {
  top: 65px;
}

.menu__btn--login {
  align-items: center;
  height: 36px;
  width: 100px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: #000;
}
.menu__btn--login:hover {
  transition: 0.3s ease;
  background: #455A64;
  color: #fff8dc;
}
.menu__btn--login:hover:active {
  transition: 0.3s ease;
  background: #000;
  color: #fff8dc;
}

.search__container {
  display: none;
  font-size: 16px;
  right: 630px;
}
.search__container .form__search {
  position: absolute;
  top: 4px;
  height: 34px;
  padding: 0 0.5em;
  width: 11em;
  border-radius: 30px;
  outline: none;
  transition: all 0.6s ease;
  color: #000;
  border: 1px solid #fff8dc;
}
.search__container .form__logo {
  position: relative;
  padding: 8px 10px;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 30px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  left: 170px;
  background: #005cb2;
  color: #fff8dc;
}

@media screen and (min-width: 600px) {
  .main__title {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 800px) {
  .features__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
main .main__title {
  margin: 160px 60px 60px;
  padding: 10px;
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#525252, #3d72b4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .main__title .features__container {
  display: grid;
  grid-template-columns: 1fr;
}
main .main__title .features__container .feature__item {
  display: grid;
  grid-gap: 15px;
  place-items: center;
  padding: 15px;
}
@media screen and (min-width: 400px) {
  main .main__title .features__container .feature__item .main__title {
    font-size: 1.3rem;
  }
}
main .main__title .features__container .feature__item header {
  display: flex;
  gap: 15px;
  height: 3px;
  place-items: center;
}
main .main__title .features__container .feature__item header i {
  border-radius: 50px;
  background: #005cb2;
  padding: 20px 15px;
}
main .main__title .features__container .feature__item header h3 {
  font-size: 0.8rem;
  padding: 0;
}
main .main__title .features__container .feature__item .feature__detail {
  margin-top: 30px;
}
main .top__btn {
  display: none;
  border: none;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 8px 10px;
  margin: 0 30px;
  font-size: 1.2rem;
  left: 300px;
  background: #005cb2;
  color: #fff8dc;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
}

.gallery__list li {
  display: flex;
  text-align: center;
  align-items: center;
  width: 330px;
  height: 250px;
  font-size: 1rem;
  margin: 30px;
  color: #000;
}
.gallery__list li figure {
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
}
.gallery__list li figure figcaption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.gallery__list li figure img {
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
.gallery__list li figure:hover img {
  transform: scale(1.3);
  z-index: 1;
}
.gallery__list li figure:hover figcaption {
  display: flex;
}

.features__container {
  display: grid;
  grid-template-columns: 1fr;
}
.features__container .feature__item {
  display: grid;
  grid-gap: 15px;
  place-items: center;
  padding: 15px;
}
.features__container .feature__item header {
  display: flex;
  gap: 15px;
  height: 3px;
  place-items: center;
}
.features__container .feature__item header i {
  border-radius: 50px;
  background: #005cb2;
  padding: 20px 15px;
}
.features__container .feature__item header h2 {
  font-size: 1.2rem;
  padding: 0;
}
.features__container .feature__item header p {
  font-size: 0.9rem;
  margin: 1em;
  text-align: center;
}
.features__container .feature__item .feature__detail {
  margin-top: 30px;
}
.features__container .top__btn {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  right: 50px;
  bottom: 40px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  background: #005cb2;
  color: #fff;
}
@media (min-width: 800px) {
  .features__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.playlist {
  margin-top: 0;
  margin-bottom: 40px;
  color: #000;
  font-size: 26px;
  line-height: 50%;
  font-weight: 600;
  text-align: center;
  display: flex;
  left: 610px;
  position: absolute;
  align-content: space-between;
  top: 900px;
}

.logos__stream--container {
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: 20%;
}
.logos__stream--container .block__container {
  align-content: space-between;
  cursor: pointer;
  margin-left: 100px;
  display: flex;
}

.link__button {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  border: 0;
  margin-top: 10%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 4px;
  box-shadow: 0 2px 4px #000;
  align-content: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  color: #000;
}
.link__button:hover {
  transition: all 0.3s ease;
  background: #03e9f4;
  border-radius: 10px;
  box-shadow: 0 0 6px #03e9f4, 0 0 15px #03e9f4, 0 0 30px #03e9f4, 0 0 100px #03e9f4;
}
.link__button--orange:hover {
  transition: all 0.3s ease;
  background: #ff5722;
  border-radius: 10px;
  box-shadow: 0 0 6px #ff5722, 0 0 15px #ff5722, 0 0 30px #ff5722, 0 0 100px #ff5722;
}

.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.forms .animate__animated {
  margin-bottom: 30px;
  color: #fff8dc;
  text-align: center;
  background: linear-gradient(#005aa7 40%, #fffde4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.forms .animate__animated:hover {
  background: linear-gradient(#9cecfb 20%, #65c7f7, #0052d4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.controls {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  color: #000;
  background: #fff;
}
.controls:active, .controls:focus {
  transition: all 0.3s ease;
  border: 2px solid #512DA8;
  box-shadow: 0 0 1px #512DA8, 0 0 5px #512DA8, 0 0 10px #512DA8, 0 0 15px #512DA8;
}

.forget__your--password {
  text-align: center;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  color: #fff8dc;
  text-decoration: none;
}
.forget__your--password:hover {
  border-bottom: 3px solid #005cb2;
  color: #005cb2;
  transition: all 0.1s ease;
}
.forget__your--password:hover:active {
  border-bottom: 3px solid #004e92;
  color: #004e92;
  transition: all 0.1s ease;
}

.back__btn {
  position: relative;
  display: block;
  background: none;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  bottom: 25px;
  right: 20px;
  font-size: 20px;
  color: #fff;
}
.back__btn:active {
  transition: all 0.3ms ease;
  border-radius: 50px;
  background: #005cb2;
}

.contenedor__spinner {
  align-items: center;
  justify-content: center;
  display: block;
}
.contenedor__spinner .spinner {
  margin: 10% auto;
  border: 4px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #005cb2;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
