@mixin menu-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  box-shadow: 1px 1px 4px 0 $shadow-color;
  background: $secondary-color-dark;
  z-index: 2;
}
@mixin default-btn($color) {
  align-items: center;
  height: 36px;
  margin-right: 30px;
  width: 100px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: $color;
}
@mixin gradient($color) {
  box-shadow: 0 0 6px $color, 0 0 15px $color, 0 0 30px $color, 0 0 100px $color;
}

@mixin pri-and-secondary-btn {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  border: 0;
  margin-top: 10%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 4px;
  box-shadow: 0 2px 4px $secondary-color;
  align-content: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  background: $secondary-text-color;
  color: $secondary-color;
}


