@import "mixins";
@import "variables";
@import "componentes/body";
@import "componentes/header";
@import "componentes/search";
@import "componentes/main";
@import "componentes/gallery";
@import "componentes/features-section";

@import "componentes/playlist-logos";
@import "componentes/login";
@import "componentes/loader";
//@import "responsive";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
  font-size: 18px;
}