@import "mixins";
@import "variables";
@import "container";
@import "componentes/body";
@import "componentes/header";
@import "componentes/search";
@import "componentes/main";
@import "componentes/gallery";
@import "componentes/features-section";
@import "componentes/login";
@import "componentes/loader";
@import "componentes/footer";


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}