@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 970px) {
  #main-container {
    width: 100%;

    header, .logo, .search__container, .menu, .bar {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 600px) {
  header, .logo, .search__container, .menu, .bar {
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {

}