$prymary-color: #b6e3ff;
$cyan-color: #03e9f4;
$secondary-color: #4d82cb;
$light-blue: #2980b9;
$hover-color: #005cb2;
$dark-blue: #004e92;
$dark-blue-gray: #455A64;
$background-header: #0F2027;
$light-shadow: rgba(16, 16, 16, 0.72);
$black-color: #000;
$white-color: #fff;
$border-color: #fff8dc;
$orange-color: #ff5722;
