.link__button {
  @include pri-and-secondary-btn;

  &:hover {
    transition: all 0.3s ease;
    background: $primary-accent-color;
    border-radius: 10px;
    @include gradient($primary-accent-color);
  }

  &--blue {
    &:hover {
      transition: all 0.3s ease;
      background: $secondary-accent-color;
      border-radius: 10px;
      @include gradient($secondary-accent-color);
    }
  }
}



