.menu {
  margin-right: 100px;

  .text__menu {
    font-weight: 650;
    font-size: 18px;
    //color: $text-primary;
    color: $border-color;
    text-decoration: none;
    margin-right: 75px;

    &:hover {
      border-bottom: 3px solid $hover-color;
      color: $hover-color;
      transition: all 0.1s ease;

      &:active {
        border-bottom: 3px solid $dark-blue;
        color: $dark-blue;
        transition: all 0.1s ease;
      }
    }
  }
}