.menu {
  margin-right: 100px;

  .text__menu {
    font-weight: 650;
    font-size: 18px;
    margin-right: 75px;
    text-decoration: none;
    color: $primary-text-color;
    //color: $text-primary;

    &:hover {
      transition: all 0.1s ease;
      border-bottom: 3px solid $primary-color;
      color: $primary-color;

      &:active {
        transition: all 0.1s ease;
        border-bottom: 3px solid $primary-color-dark;
        color: $primary-color-dark;
      }
    }
  }
}