input {
  height: 30px;
  margin-right: 150px;
  padding: 8px;
  width: 338px;
  font-size: 16px;
  border: 1px solid $beige-color;
  border-radius: 30px;
  color: $black-color;
  outline: none;
  transition: all 0.6s ease;
}


.search {
  line-height: 40px;
  width: 40px;
  text-align: center;
  left: 654px;
  position: absolute;
  background: $hover-color;
  color: $beige-color;
  font-size: 20px;
  border-radius: 50px;
}