.features__container {
  display: grid;
  grid-template-columns: 1fr;

  .feature__item {
    display: grid;
    grid-gap: 15px;
    place-items: center;
    padding: 15px;

    header {

      i {
        border-radius: 50px;
        background: $primary-color;
        padding: 20px 15px;
      }

      display: flex;
      gap: 15px;
      height: 3px;
      place-items: center;

      h2 {
        font-size: 1.2rem;
        padding: 0;

        @media screen and (min-width: 280px){
          font-size: 0.93rem;
        }
        @media screen and (min-width: 700px){
          font-size: 1rem;
        }
        @media screen and (min-width: 1280px){

        }
      }
    }

    .feature__detail {
      margin-top: 30px;
    }

    p {
      font-size: .9rem;
      margin: 1em;
      text-align: center;

      @media screen and (min-width: 280px){
        font-size: 0.8rem;
      }
      @media screen and (min-width: 700px){
        font-size: 1rem;
      }
    }
  }

  .top__btn {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    right: 50px;
    bottom: 40px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    background: $primary-color;
    color: $secondary-text-color;
  }

  @media(min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
