header{
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  list-style: none;
  background: $background-header;
  box-shadow: 1px 1px 4px 0 $light-shadow;
  position: fixed;
  line-height: 25px;
  z-index: 2;

  .logo {
    margin-left: 100px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    h2 {
      color: $hover-color;
      background: linear-gradient(#3a7bd5, #3a6073);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

      &:hover {
        background: linear-gradient(#83a4d4 40%, #b6fbff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: all 0.4s ease;
      }
    }
  }

}
