header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6.5%;

  display: flex;
  gap: 30px;

  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 30px;
  line-height: 25px;
  z-index: 2;
  box-shadow: 1px 1px 4px 0 $shadow-color;
  list-style: none;
  background: $secondary-color-dark;

  .logo {

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    h2 {
      color: $primary-color;
      background: linear-gradient(#3a7bd5, #3a6073);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

      &:hover {
        background: linear-gradient(#83a4d4 40%, #b6fbff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: all 0.4s ease;
      }
    }
  }

  .btn__login {
    display: flex;

    span {
      display: none;
    }

    @media (min-width: 800px) {
      span {
        display: flex;
      }
    }
  }

}
