.search__container {
  //position: relative;
  display: none;
  font-size: 1rem;

  right: 630px;

  .form__search {
    position: relative;
    outline: none;
    top: 4px;
    height: 34px;
    padding: 0 1.5em;
    width: 30em;
    border-radius: 30px;
    font-size: 0.8em;
    transition: all 0.6s ease;
    color: $secondary-color;
    border: 1px solid $primary-text-color;
  }

  .form__logo {
    position: relative;
    border: none;
    cursor: pointer;
    align-items: center;
    padding: 8px 10px;
    border-radius: 50%;
    margin: 0 30px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    right: 3.5em;
    background: $primary-color;
    color: $primary-text-color;
  }
  @media screen and (min-width: 1280px){
    display: flex;
  }
}