.search__container {
  //position: relative;
  display: none;
  font-size: 16px;

  right: 630px;

  .form__search {
    position: absolute;
    top: 4px;
    height: 34px;
    padding: 0 0.5em;
    width: 11em;
    border-radius: 30px;
    outline: none;
    transition: all 0.6s ease;
    color: $secondary-color;
    border: 1px solid $primary-text-color;
  }

  .form__logo {
    position: relative;
    padding: 8px 10px;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 30px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    left: 170px;
    background: $primary-color;
    color: $primary-text-color;
  }
}

//@media screen and (max-width: 414px) {
//  .search__container {
//    right: 2em;
//  }
//
//  .form__search {
//    width: 2em;
//  }
//
//  .form__logo {
//    left: 2em;
//  }
//}
