.title__section {
  margin: 160px 60px 60px;
  font-size: 65px;
  padding: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#525252, #3d72b4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  .roles {
    margin: 60px;
    justify-content: center;
    display: block;
  }
}

.role__container {
  float: left;
  width: 60px;
  margin: 5%;
  line-height: 60px;
  border-radius: 50px;
  text-align: center;
  background: $primary-color-light;
  color: $secondary-color;
}

.role__text {
  float: right;
  width: 20%;
  padding: 10px 0;
  font-size: 18px;
  margin-right: 11%;
  color: $secondary-color;
  text-align: center;
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  /* display: flex; */
}


.title__small {
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: $primary-color-light;
}

.text-block-15 {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  color: $secondary-color;
}