.title__section {
  background: linear-gradient(#525252, #3d72b4 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 65px;
  margin: 160px 60px 60px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;

  .roles {
    justify-content: center;
    display: block;
    margin: 60px;
  }
}

.role__container {
  float: left;
  background: $secondary-color;
  color: $black-color;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50px;
}

.role__text {
  color: $black-color;
  width: 330px;
  font-size: 18px;
  text-align: center;
  margin-right: 11%;
  /* justify-content: space-between; */
  align-items: center;
  /* align-content: space-between; */
  /* display: flex; */
  float: right;
}


.title__small {
  margin-bottom: 8px;
  color: $light-blue;
  font-size: 20px;
  font-weight: 600;
}

.text-block-15 {
  color: $black-color;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}